---
import { samples } from "../utils/samples";
interface Props {
  title: string;
  selected?: string;
}

const { title, selected } = Astro.props;
---

<style>
  @keyframes scale-up {
    0% {
      /*opacity: 0;*/
      transform: translateY(-90%) scale(0.7);
      z-index: -1;
    }
    20%,
    80% {
      opacity: 1;
      transform: none;
      transform: scale(1);
      z-index: 2;
    }

    30%,
    70% {
      z-index: 5;
    }
    100% {
      transform: translateY(90%) scale(0.7);
      z-index: -1;

      /*opacity: 0;*/
    }
  }

  @scroll-timeline scroll-scale {
    source: auto;
    orientation: block;
    scroll-offsets:
      start 0%,
      end 100%;
  }

  .list-container {
    max-width: 100%;
    background-color: #152b5d;
    margin: 0 auto;
    padding: 0 1rem 2rem 1rem;

    @media (min-width: 768px) {
      padding: 0rem 4rem 2rem 4rem;
      border-radius: 0.5rem;
    }

    .header {
      position: sticky;
      top: 0;
      padding: 1rem;
      z-index: 10;
      background: linear-gradient(0deg, transparent, #152b5d);

      h2 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 150%;
        /* or 16px */
        text-align: center;
        letter-spacing: 0.37em;
        text-transform: uppercase;
        color: #ffffff;
      }

      @media (min-width: 768px) {
        background: transparent;
      }
    }

    .list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      gap: 1rem;

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }

      .list-item {
        padding-bottom: 1rem;
        width: 100%;
        height: auto;
        display: grid;

        background-color: #152b5d;
        position: relative;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        z-index: 1;

        @supports (animation-timeline: view(y)) {
          animation: scale-up linear both;
          animation-timeline: view(y);
        }

        @media (min-width: 768px) {
          animation: none;

          &:hover {
            transform: scale(1.02);

            img {
              box-shadow: 0 0 2rem rgba(255, 255, 255, 0.06);
            }
          }
        }

        img {
          z-index: 0;
          width: 100%;
          height: auto;
          aspect-ratio: 16 / 9;
          border-radius: 0.33rem;
          background-color: #080b36;
        }

        .item-text {
          padding-top: 1rem;
          display: grid;
          gap: 0.2rem;

          z-index: 2;
          position: relative;

          h3 {
            margin: 0;
            font-size: 1rem;
            position: relative;
            z-index: 1;
          }

          p {
            margin: 0;
            font-size: 0.75rem;
            opacity: 0.9;
            position: relative;
            z-index: 1;
          }
        }
      }
    }
  }
</style>

<div class="list-container" transition:name="list">
  <div class="header">
    <h2>{title}</h2>
  </div>
  <ul class="list">
    {
      samples
        .filter((item) => item.path != selected)
        .map((item) => (
          <li>
            <a href={item.path} class="list-item" data-astro-reload>
              <div>
                <img src={item.url} alt={item.title} />
              </div>
              <div class="item-text">
                <h3>{item.title}</h3>
                <p>{item.description}</p>
              </div>
            </a>
          </li>
        ))
    }
  </ul>
</div>
