---
import { Image } from "astro:assets";

interface Props {
  title: string;
  icon: ImageMetadata;
  delay?: string;
  top?: string;
  left?: string;
  right?: string;
  bottom?: string;
  color?: string;
  backgroundColor?: string;
}

const { backgroundColor, bottom, right, title, icon, top, left, color, delay } =
  Astro.props;
---

<div
  class="card-overlay"
  style={`position: absolute; top: ${top}; left: ${left}; bottom: ${bottom}; right: ${right}; border-color: ${backgroundColor}; color: ${color};  animation-delay: ${delay};`}
>
  <div
    class="card-overlay-title"
    style={`background-color: ${backgroundColor};`}
  >
    <Image src={icon} alt="" width="12" />
    <h2 style={`color: ${color};`}>{title}</h2>
  </div>
  <div class="card-overlay-content">
    <slot />
  </div>
</div>

<style>
  @keyframes pop {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
    /*     90% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.1);
      opacity: 0;
    } */
  }

  .card-overlay {
    border: 2px solid rgb(61, 88, 79);
    width: max-content;
    min-width: 120px;
    border-radius: 0.25rem;
    overflow: hidden;
    display: grid;
    opacity: 0;
    transform: scale(0.1);
    animation: pop 0.3s cubic-bezier(0.22, 1, 0.36, 1) forwards;

    .card-overlay-title {
      display: flex;
      gap: 0.5rem;
      background-color: rgb(61, 88, 79);
      padding: 0.2rem 0.5rem;
      img {
      }
      h2 {
        color: inherit;
        font-size: 0.75rem;
        margin: 0;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      }
    }
    .card-overlay-content {
      display: grid;
      align-items: center;
      justify-content: center;

      video {
        max-width: 140px;
        height: auto;
      }
    }
  }
</style>
